<div class="bg-header">
  <div>
    <h1 id="tech-investor">TechInvestor</h1>
  </div>
</div>

<div class="about">
  <p><h1>TechInvestor connects investors with small-business owners in the Austin, Texas area. Users are able to invest anywhere from $2,000 - $10,000 in $1000 increments. </h1></p>
</div>
<br>
<br>
<% if current_user %>

  <div class="row">
  <% @companies.each do |company| %>
    <div class="col-lg-2 company-name">
      <h4>
        <%= link_to company.name, company_path(company) %>
        <% if current_user %>
          <% investment = current_user.investments.find_by(company_id: company.id) %>
          <% if investment %>
            <%= link_to 'Divest', investment_path(investment), method: :delete, :class => "btn btn-primary" %>
          <% else %>
            <%= link_to 'Invest', investments_path(company_id: company.id), method: :post, :class => "btn btn-primary" %>
          <% end %>
        <% end %>
       </h4>
    </div>
  <% end %>
  </div>

<% else %>
  <div class="row">
  <% @companies.first(6).each do |company| %>
    <div class="col-lg-2 company-name">
        <%= link_to company.name, company_path(company) %>
        <% if current_user %>
          <% investment = current_user.investments.find_by(company_id: company.id) %>
          <% if investment %>
            <%= link_to 'Divest', investment_path(investment), method: :delete, :class => "btn" %>
          <% else %>
            <%= link_to 'Invest', investments_path(company_id: company.id), method: :post, :class => "btn" %>
          <% end %>
        <% end %>
    </div>
  <% end %>
</div>

<% end %>
