
<div class="logo">
   <%= image_tag(@company.logo, :class => "logo") %>

</div>

<div class="image_id">
<div class="row">
  <div class="col-md-12"><h1><%= @company.name %></h1>

</div>


</div>


<p>
  <%= @company.bio %>

</p>


</div>

  <h1><%= link_to "Company Website", @company.url %></h1>

<%= link_to "back", :companies %>
</div>
