
<div class="logo">
   <%= image_tag(@company.logo, :class => "logo") %>

</div>

<div class="image_id">
<div class="row">
  <div class="col-md-12"><h1><%= @company.name %></h1>
    <h1><%= @company.url %></h1>
    <h1><%= @company.logo %></h1>
</div>

<%= link_to "back", :companies %>
</div>


<p>
  <%= @company.url %>

</p>
